[Desktop Entry]
Name=Bc
Comment=Intepreter of bc --- infinite precision calculation language
Comment[pl]=Interpreter bc --- języka obliczeń o nieskończonej precyzji
Icon=bc
Exec=bc
Terminal=true
Type=Application
Categories=ConsoleOnly;Education;Science;Math;
# vi: encoding=utf-8
