[Desktop Entry]
Name=Dc
Comment=RPN calculator based on bc language
Comment[pl]=Kalkulator w odwrotnej notacji polskiej oparty na języku bc
Icon=
Exec=dc
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Science;X-Numeric
# vi: encoding=utf-8
